<div class="text-center">
  <h4 class="text-muted">Hello! ADP Coin Change Service</h4>
</div>

<form (ngSubmit)="onSearch()" #locref='ngForm'>
    <div class="input-group">
        <input 
        type="number" 
        class="form-control" 
        placeholder="Only numbers please.." 
        ngModel 
        name="searchText">
        <span class="input-group-btn">
             <button class="btn btn-primary" type="submit">Request change</button>
        </span>
     </div>
</form>
<!-- <button class="btn btn-primary" type="button" (click)="getMyCollection()" style="margin-left:45%;">Request Coins left in Vault</button> -->

<div class="row" style="margin-left:20%">
    <div class="col-xs-4" *ngIf="loadedPosts.length < 1 && !isFetching">
      <p>No Posts Available!!</p>
    </div>
    <div class="col-xs-4" *ngIf="loadedPosts.length >= 1 && !isFetching">
  
      <hr>
      <h3>Change Status</h3>
      <ul class="list-group">
        <li class="list-group-item">CoinA_change: {{CoinA_change}}</li>
        <li class="list-group-item">CoinA_change: {{CoinA_change}}</li>
        <li class="list-group-item">CoinA_change: {{CoinA_change}}</li>
        <li class="list-group-item">CoinA_change: {{CoinA_change}}</li>
      </ul>
  
    </div>
    <p *ngIf="isFetching && !error">loading...</p>
    <div class="alert alert-danger" *ngIf="error">
      <h1>An Error Occured!!</h1>
      <p>{{error}}</p>
    </div>
  </div>

<div class="row" style="float:right;margin-top:-300px;margin-right:20%">
  <div class="col-xs-4" *ngIf="loadedPosts.length < 1 && !isFetching">
    <p>No Posts Available!!</p>
  </div>
  <div class="col-xs-4" *ngIf="loadedPosts.length >= 1 && !isFetching">

    <hr>
    <h3>Vault Inventory</h3>
    <ul class="list-group">
      <li class="list-group-item">CoinA: {{coinA}}</li>
      <li class="list-group-item">CoinB: {{coinB}}</li>
      <li class="list-group-item">CoinC: {{coinC}}</li>
      <li class="list-group-item">CoinD: {{coinD}}</li>
    </ul>

  </div>
  <p *ngIf="isFetching && !error">loading...</p>
  <div class="alert alert-danger" *ngIf="error">
    <h1>An Error Occured!!</h1>
    <p>{{error}}</p>
  </div>
</div>

